Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition Map :=
      Storage_sigs.Indexed_map.Map
        <%= index %>.
    Arguments Map /.

    Definition Subset :=
      Storage_sigs.Indexed_set._Set
        <%= subindex %>.
    Arguments Subset /.

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall ctxt key subkey,
    <%= storage_path %>
      .(Storage_sigs.Carbonated_data_set_storage.mem) 
      (Raw_context.to_t ctxt, key) subkey = 
    let map := (Helpers.Map).(Map.S.find)
      key (Helpers.get ctxt) in
    match map with 
    | Some map => 
      return? (Raw_context.to_t ctxt, (Helpers.Subset).(_Set.S.mem) subkey map)
    | None => return? (Raw_context.to_t ctxt, false)
    end.

  Axiom add : forall ctxt key subkey i,
    <%= storage_path %>
      .(Storage_sigs.Carbonated_data_set_storage.add)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      let submap'' :=
        (Helpers.Subset).(_Set.S.add) subkey submap' in
      let mem := (Helpers.Subset).(_Set.S.mem) subkey submap' in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      return? (Helpers.set ctxt map', i, mem)
    | None => 
      let submap'' :=
        (Helpers.Subset).(_Set.S.singleton) subkey in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      return? (Helpers.set ctxt map', i, false)
    end.

  Axiom remove : forall ctxt key subkey i,
    <%= storage_path %>
      .(Storage_sigs.Carbonated_data_set_storage.remove)
    (Raw_context.to_t ctxt, key) subkey =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with 
    | Some submap' => 
        let submap'' :=
          (Helpers.Subset).(_Set.S.remove) subkey submap' in
        let mem := (Helpers.Subset).(_Set.S.mem) subkey submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', i, mem)
    | None => return? (Raw_context.to_t ctxt, i, false)
    end.

  Axiom init_value : forall ctxt subkey key i,
    <%= storage_path %>
      .(Storage_sigs.Carbonated_data_set_storage.init_value)
     (Raw_context.to_t ctxt, key) subkey =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set) in
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
      if (Helpers.Subset).(_Set.S.mem) subkey submap'
      then error
      else
        let submap'' :=
          (Helpers.Subset).(_Set.S.add) subkey submap' in
        let map' := (Helpers.Map).(Map.S.add) key submap'' map in
        return? (Helpers.set ctxt map', i)
    | None =>
      let submap'' :=
        (Helpers.Subset).(_Set.S.singleton) subkey in
      let map' := (Helpers.Map).(Map.S.add) key submap'' map in
      return? (Helpers.set ctxt map', i)
    end.

  Axiom fold_keys_unaccounted : forall ctxt key variant init f,
    <%= storage_path %>
      .(Storage_sigs.Carbonated_data_set_storage.fold_keys_unaccounted)
         (Raw_context.to_t ctxt, key)
      variant init f =
    let map := (Helpers.get ctxt) in
    let submap := (Helpers.Map).(Map.S.find) key map in
    match submap with
    | Some submap' =>
        return? (Helpers.Subset).(_Set.S.fold) f
           init submap'
    | None => return? init
    end.

  #[global] Hint Rewrite mem add remove init_value fold_keys_unaccounted : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
