Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition Map :=
      Storage_sigs.Indexed_map.Map
        <%= index %>.
    Arguments Map /.

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall ctxt key,
    <%= storage_path %>
        .(Storage_sigs.Single_data_storage.mem) 
        (Raw_context.to_t ctxt, key) = 
    (Helpers.Map).(Map.S.mem) key (Helpers.get ctxt).

  Axiom get : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.get)
     (Raw_context.to_t ctxt, key) =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context.Get) in
    let map := (Helpers.get ctxt) in
    let x := (Helpers.Map).(Map.S.find) key map in
    match x with
    | Some value' => return? value'
    | None => error
    end.

  Axiom find : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.find)
     (Raw_context.to_t ctxt, key) =
   return? (
   let* value := (Helpers.Map).(Map.S.find)
     key
    (Helpers.get ctxt) in
   return* value).

  Axiom update :  forall ctxt key value,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.update)
     (Raw_context.to_t ctxt, key) value =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set) in
    let map := (Helpers.get ctxt) in
    if (Helpers.Map).(Map.S.mem) key map
      then 
        let map' := (Helpers.Map).(Map.S.add) key value map in
        return? Helpers.set ctxt map'
    else error.

  Axiom init_value :  forall ctxt key value,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.update)
     (Raw_context.to_t ctxt, key) value =
    let error := Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set) in
    let map := (Helpers.get ctxt) in
    if (Helpers.Map).(Map.S.mem) key map
      then error
      else
        let map' := (Helpers.Map).(Map.S.add) key value map in
        return? Helpers.set ctxt map'.

  Axiom add : forall ctxt key value,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.add)
    (Raw_context.to_t ctxt, key) value =
    let map := (Helpers.get ctxt) in
    let map' := (Helpers.Map).(Map.S.add) key value map in
    Helpers.set ctxt map'.

  Axiom add_or_remove : forall ctxt key value_opt,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.add_or_remove)
    (Raw_context.to_t ctxt, key) value_opt =
    match value_opt with
    | Some value =>
      (* add the value *)
      let map := (Helpers.get ctxt) in
      let map' := (Helpers.Map).(Map.S.add) key value map in
        Helpers.set ctxt map'
    | None =>
      (* remove the value *)
      let map := (Helpers.get ctxt) in
      let map' := (Helpers.Map).(Map.S.remove) key map in
      Helpers.set ctxt map'
    end.

  Axiom remove_existing : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.remove_existing)
    (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    if (Helpers.Map).(Map.S.mem) key map
    then
      let map' := (Helpers.Map).(Map.S.remove) key map in
      return? Helpers.set ctxt map'
    else
      Raw_context.storage_error_value
        (Raw_context.Missing_key Helpers.name Raw_context.Del).

  Axiom remove : forall ctxt key,
    <%= storage_path %>
      .(Storage_sigs.Single_data_storage.remove)
    (Raw_context.to_t ctxt, key) =
    let map := (Helpers.get ctxt) in
    let map' := (Helpers.Map).(Map.S.remove) key map in
    Helpers.set ctxt map'.

  #[global] Hint Rewrite mem get find init_value update add
    add_or_remove remove_existing remove : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
