Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition S :=
      Storage_sigs.Indexed_set._Set
        <%= index %>.
    Arguments S /.
  End Helpers.

  Axiom mem : forall (ctxt : Raw_context.t) elt,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.mem)
      (Raw_context.to_t ctxt) elt =
    Helpers.S.(_Set.S.mem) elt (Helpers.get ctxt).

  Axiom add  : forall (ctxt : Raw_context.t) elt,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.add)
      (Raw_context.to_t ctxt) elt =
    Helpers.set ctxt (Helpers.S.(_Set.S.add) elt (Helpers.get ctxt)).

  Axiom remove  : forall (ctxt : Raw_context.t) elt,
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.remove)
      (Raw_context.to_t ctxt) elt =
    Helpers.set ctxt (Helpers.S.(_Set.S.remove) elt
      (Helpers.get ctxt)).

  Axiom elements  : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.elements)
      (Raw_context.to_t ctxt) =
    return? Helpers.S.(_Set.S.elements) (Helpers.get ctxt).

  Axiom fold  : forall {a : Set} (ctxt : Raw_context.t) variant (x : a)
    (f : _ -> a -> M? a),
    <%= storage_path %>
       .(Storage_sigs.Data_set_storage.fold)
       (Raw_context.to_t ctxt) variant x f =
    Helpers.S.(_Set.S.fold)
      (fun elt acc => let? acc := acc in f elt acc) (Helpers.get ctxt)
      (Pervasives.Ok x).

  Axiom clear : forall (ctxt : Raw_context.t),
    <%= storage_path %>
      .(Storage_sigs.Data_set_storage.clear)
      (Raw_context.to_t ctxt) =
    return? Helpers.set ctxt (Helpers.S.(_Set.S.empty)).

  #[global] Hint Rewrite mem add remove elements @fold clear 
   : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
