Module <%= name %>.
  Module Helpers.
<%= n_indent(2, get_definition) %>
    
<%= n_indent(2, set_definition) %>

    Definition S :=
      Storage_sigs.Indexed_map.Map
        <%= index %>.
    Arguments S /.

    Definition name := [<%= path %>].
  End Helpers.

  Axiom mem : forall (ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.mem)
      (Raw_context.to_t ctxt) k =
    (Helpers.S).(Map.S.mem) k
      (Helpers.get ctxt).

  Axiom get : forall (ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.get)
      (Raw_context.to_t ctxt) k =
    let x := (Helpers.S).(Map.S.find) k (Helpers.get ctxt) in
    match x with
    | Some v => Pervasives.Ok v
    | None =>  
        Raw_context.storage_error_value
          (Raw_context.Missing_key Helpers.name Raw_context.Get)
    end.

  Axiom find : forall(ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.find)
      (Raw_context.to_t ctxt) k =
    let x := (Helpers.S).(Map.S.find) k (Helpers.get ctxt) in
    match x with
    | Some v => return? (Some v)
    | None => return? None
    end.

  Axiom update : forall (ctxt : Raw_context.t) k v,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.update)
      (Raw_context.to_t ctxt) k v =
    if (Helpers.S).(Map.S.mem) k (Helpers.get ctxt)
    then 
      return? Helpers.set ctxt ((Helpers.S).(Map.S.add) k v
        (Helpers.get ctxt))
    else Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set).

  Axiom init_value : forall (ctxt : Raw_context.t) k v,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.init_value)
      (Raw_context.to_t ctxt) k v =
    if (Helpers.S).(Map.S.mem) k (Helpers.get ctxt)
    then Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context._Set)
    else return? Helpers.set ctxt ((Helpers.S).(Map.S.add)
      k v (Helpers.get ctxt)).

  Axiom add : forall (ctxt : Raw_context.t) k v,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.add)
      (Raw_context.to_t ctxt) k v =
    Helpers.set ctxt ((Helpers.S).(Map.S.add) k v 
      (Helpers.get ctxt)).

  Axiom add_or_remove : forall (ctxt : Raw_context.t) k v,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.add_or_remove)
      (Raw_context.to_t ctxt) k v =
    match v with
    | Some v' => 
        Helpers.set ctxt ((Helpers.S).(Map.S.add) k v'
          (Helpers.get ctxt))
    | None => 
        Helpers.set ctxt ((Helpers.S).(Map.S.remove) k
          (Helpers.get ctxt))
    end.

  Axiom remove_existing : forall (ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.remove_existing)
      (Raw_context.to_t ctxt) k =
    if (Helpers.S).(Map.S.mem) k (Helpers.get ctxt)
    then return? Helpers.set ctxt ((Helpers.S).(Map.S.remove) k
      (Helpers.get ctxt))
    else Raw_context.storage_error_value
      (Raw_context.Missing_key Helpers.name Raw_context.Del).

  Axiom remove : forall (ctxt : Raw_context.t) k,
    <%= storage_path %>
      .(Storage_sigs.Non_iterable_indexed_data_storage.remove)
      (Raw_context.to_t ctxt) k =
    Helpers.set ctxt ((Helpers.S).(Map.S.remove) k
      (Helpers.get ctxt)).

  #[global] Hint Rewrite mem get find update init_value add
     add_or_remove remove_existing remove : storage_db.
  #[global] Opaque <%= storage_path %>.
End <%= name %>.
